div.title{
  background:#6b0080;
  color:#FFF;
}
img.title{
  float:left;
}
p.title{
  margin:2px 0 0 1px;
  float:left;
  font-family:Tahoma;
  font-weight:bold;
  font-size:2.8vh;
}
.title button{
  /*position:absolute;
  right:3px;
  top:3px;*/
  margin:2px 2px 2px 0;
  float:right;
  width:10%;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
  /* focus:none; */
}
.pSection {
    background:#d2d3db;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
}
.pContainer {
    background: #d2d3db;
    /*border:1px solid;*/
    /*border-color:#FFFFFF #808080 #808080 */
}
.pContainer:hover {
    background: #e9ebf0;
}
.pContainer:active {
    background: lightBlue;
    
}
.pContainer > * {
    transition-duration: 1s, 1s;
    transition-property: transform;
}
.pContainer:active > * {
    transform: scale(0.8);
    transition-duration: 0.2s, 1s;
    transition-property: transform;
}
/* Default state: children are hidden */
.pItem .hidden {
    display: none;
}

/* When the .show-children class is added to .pItem, the children are visible */
.pItem.show-children .hidden {
    display: block;
    
}
.fIcon {
    height:5vh;
}
.homeFile {
    background: url('https://img.icons8.com/?size=100&id=123471&format=png&color=7950F2');
    background-size: 100%;
}

#fileView {
    background: #e4e5f1;
}
